<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>민재야 이리 그만해라</title>
</head>
<body>
  <h1>민재의 가장 마지막 게임은</h1>
  <p><%= result.startDtm %>입니다.</p>
  <p>이 게임으로 <%= result.mmrGain %>점을 벌었습니다.</p>
  <p>현재 점수는 <%= result.mmrAfter %>점 입니다.</p>
</body>
</html>