<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스레드 검색 결과</title>
</head>
<body>
    <h1>스레드 검색 결과</h1>
    <% if (result && result.length > 0) { %>
        <ul>
            <% result.forEach(function(item) { %>
                <li>
                    <p><%= item.text %></p>
                    <% if (item.firstLInk) { %>
                        <a href="<%= item.firstLInk %>" target="_blank" rel="noopener noreferrer">링크 보기</a>
                    <% } %>
                </li>
            <% }); %>
        </ul>
    <% } else if (fileName) { %>
        <p>파일이 성공적으로 생성되었습니다. <a href="../output/<%= fileName %>" download>여기</a>를 클릭하여 다운로드하세요.</p>

    <% } else { %>
        <p>검색 결과가 없습니다.</p>
    <% } %>
</body>
</html>
